@page "/"
@using Todo_Maui_Blazor.Components
@inject IDialogService DialogService

<div Class="mud-theme-info px-3 py-6 mud-elevation-16 rounded-lg fixed text-center" style="bottom:25px;left:20px" @onclick="NewItem">
    <MudText>
        افزودن مورد جدید
    </MudText>
</div>

@code {

    void NewItem()
    {
        DialogOptions options = new() { CloseOnEscapeKey = false,DisableBackdropClick = true, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<Upsert>("افزودن ایتم جدید", options);
    }
}