@page "/"
@using Todo_Maui_Blazor.Components
@using Todo_Maui_Blazor.Models
@using Todo_Maui_Blazor.Services
@inject IDialogService DialogService
@inject ITodoService TodoService

<div Class="mud-theme-info px-3 py-6 mud-elevation-16 rounded-lg fixed text-center" style="bottom:25px;left:20px" @onclick="NewItem">
    <MudText>
        افزودن مورد جدید
    </MudText>
</div>

@foreach (var item in todos)
{
    <MudText>@item.Title</MudText>
}

@code {

    void NewItem()
    {
        DialogOptions options = new() { CloseOnEscapeKey = false, DisableBackdropClick = true, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<Upsert>("افزودن ایتم جدید", options);
    }

    IEnumerable<Todo> todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await TodoService.GetAllAsync();
    }
}